---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Scholarship Assistance",
    description:
      "Guidance with scholarship applications, essay proofreading, proficiency test tips, and extracurricular planning to help you succeed.",
    icon: "bx:bxs-graduation",
  },
  {
    title: "Tailored Tutoring",
    description:
      "Personalized tutoring for kids and adults, including specialized language practice for parenting, medical visits, and more.",
    icon: "bx:bxs-book-reader",
  },
  {
    title: "Financial Aid Support",
    description:
      "We offer Edupreneur Scholarships to eliminate financial barriers and help students achieve their educational goals.",
    icon: "bx:bxs-dollar-circle",
  },
  {
    title: "Project-Based Learning",
    description:
      "Engage in real-world projects to develop problem-solving skills, gain practical experience, and enhance creativity.",
    icon: "bx:bxs-cube",
  },
  {
    title: "Empowering Future Leaders",
    description:
      "Our mission is to equip young minds with knowledge and skills for entrepreneurship, innovation, and leadership.",
    icon: "bx:bxs-bulb",
  },
  {
    title: "Community Impact",
    description:
      "Together, we create opportunities for education to fuel positive change and build prosperous futures for all.",
    icon: "bx:bxs-heart",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class= " text-dark text-4xl lg:text-5xl font-semibold tracking-normal">
    Empowering Education for a Brighter Future
  </h2>
  <p class="text-md mt-4 text-slate-600">
    Edupreneur bridges educational gaps with scholarships, tutoring, and hands-on learning opportunities.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1  bg-black  rounded-full p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class= " text-dark font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
