<footer class="mt-auto pt-20 pb-6">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Kmichael B.
  </p>
 
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://kmichael.co"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      kmichael
    </a>
  </p>
</footer>
