---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Edupreneur"
  : "Edupreneur - Educate. Empower. Actualize.";
---

<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/qol7waa.css">
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description="Edupreneur bridges educational gaps through scholarship assistance, tutoring services, financial aid, and project-based learning opportunities. We empower individuals to become successful entrepreneurs, innovators, and leaders."
      canonical={canonicalURL}
      twitter={{
        creator: "@edupreneur",
        site: "@edupreneur",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Edupreneur - Transforming Education Into Opportunity`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Edupreneur Homepage",
        },
        optional: {
          description: "Comprehensive educational support including scholarship guidance, specialized tutoring, financial aid, and real-world project opportunities to foster innovation and entrepreneurship.",
          locale: "en_US",
          siteName: "Edupreneur"
        }
      }}
    />
  </head>
  <body class="flex min-h-screen flex-col">
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>